{{template "base" .}}

{{define "title"}}
    {{$item := index .RowSets "item"}}
    {{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} - {{index .PreferenceMap "org-name"}}
{{end}}

{{define "css"}}
    {{$item := index .RowSets "item"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/videojs-panorama/0.1.7/videojs-panorama.min.css"
          integrity="sha256-E88tWtq4Yx5cqB1DwdGuITgjObSqh7IJWjIunMteozY=" crossorigin="anonymous"/>

    <style>
        #panorama {
            width: 600px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        {{ if eq $item.Video.Is360 1}}
        video, #vehicle-video {
            width: 100% !important;
            height: 500px !important;
        }

        {{else}}
        video, #vehicle-video {
            width: 100% !important;
            height: auto !important;
        }

        {{end}}
        #myCarousel .list-inline {
            white-space: nowrap;
            overflow-x: auto;
        }

        #item-slider .carousel-indicators {
            position: static;
            left: initial;
            width: initial;
            margin-left: initial;
        }

        #item-slider .carousel-indicators > li {
            width: initial;
            height: initial;
            text-indent: initial;
        }

        #item-slider .carousel-indicators > li.active img {
            opacity: 0.7;
        }

        #compareModal, #qqModal, #tdModal, #sfModal, #qciModal {
            z-index: 20003;
        }
    </style>
{{end}}

{{define "flyout"}}

{{end}}


{{define "content"}}

{{end}}


{{define "body"}}
    <div class="clearfix"></div>
    <div class="container">
        <div class="is-section is-section-100 is-box is-bg-light is-dark-text">
            <div class="is-boxes">
                <div class="is-box-centered">
                    <div class="is-container is-builder container-fluid is-content-1100" id="contentareaKjBWooO">

                        <div class="row">
                            <div class="col-md-12 mt-5">
                                {{$item := index .RowSets "item"}}

                                {{if eq $item.HandPicked 0}}
                                    {{if lt $item.Cost $item.TotalMSR}}
                                        <h3 class="text-center">
                                            {{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}
                                        </h3>

                                        {{if eq $item.PriceForDisplay  ""}}
                                            <h2 class="text-center"><span
                                                        class="text-danger">${{$item.Cost}}<sup>*</sup></span></h2>
                                        {{else}}
                                            <h2 class="text-center">
                                                <span class="text-danger">{{$item.PriceForDisplay}} OFF NEW MSRP = ${{$item.Cost}}<sup>*</sup></span>
                                            </h2>
                                        {{end}}

                                        {{if lt $item.Cost $item.TotalMSR }}
                                            <h5 class="text-center"><em>MSRP {{formatCurrency $item.TotalMSR}}</em></h5>
                                        {{end}}
                                        <hr>
                                    {{else}}
                                        <h3 class="text-center">
                                            {{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}
                                            <span class="text-danger">{{formatCurrency $item.Cost}}<sup>*</sup></span>
                                        </h3>
                                        <hr>
                                    {{end}}
                                {{else}}

                                    <h3 class="text-center">
                                        {{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}
                                        <span class="text-danger">{{formatCurrency $item.Cost}}<sup>*</sup></span>
                                    </h3>
                                    <hr>


                                {{end}}


                            </div>
                        </div>

                        {{if ne $item.Video.VideoName ""}}
                            <div class="row">
                                <div class="col-md-12">
                                    <video class="video-js" controls autoplay muted playsinline
                                           poster="/static/site-content/videos/{{$item.Video.Thumb}}"
                                           id="vehicle-video">
                                        <source type="video/mp4"
                                                src="/static/site-content/videos/{{$item.Video.FileName}}.mp4"/>
                                    </video>
                                </div>
                            </div>
                        {{end}}

                        {{if gt (len $item.Images) 0}}
                            <div class="row">
                                <div class="col-md-12">

                                    <div id="item-slider"
                                         class="carousel slide carousel-fade"
                                         data-ride="carousel"
                                         data-interval="3000"
                                         data-pause="hover">

                                        <div class="carousel-inner">
                                            {{$first := true}}
                                            {{range $item.Images}}
                                                {{if $first}}
                                                    <div class="carousel-item active">
                                                        <img src="/static/site-content/inventory/{{$item.ID}}/{{.Image}}">
                                                    </div>
                                                {{else}}
                                                    <div class="carousel-item">
                                                        <img src="/static/site-content/inventory/{{$item.ID}}/{{.Image}}">
                                                    </div>
                                                {{end}}
                                                {{$first = false}}
                                            {{end}}
                                        </div>

                                        <ul class="carousel-indicators list-inline mx-auto border px-2">
                                            {{range $index, $value := $item.Images}}
                                                {{if eq $index 0}}
                                                    <li class="list-inline-item active">
                                                        <a id="carousel-selector-{{$index}}" class="selected"
                                                           data-slide-to="{{$index}}" data-target="#item-slider">
                                                            <img src="/static/site-content/inventory/{{$item.ID}}/thumbs/{{.Image}}">
                                                        </a>
                                                    </li>
                                                {{else}}
                                                    <li class="list-inline-item">
                                                        <a id="carousel-selector-{{$index}}" data-slide-to="{{$index}}"
                                                           data-target="#item-slider">
                                                            <img src="/static/site-content/inventory/{{$item.ID}}/thumbs/{{.Image}}">
                                                        </a>
                                                    </li>
                                                {{end}}
                                            {{end}}


                                        </ul>
                                    </div>
                                </div>
                            </div>

                        {{else}}
                            <div class="row">
                                <div class="col text-center">
                                    <img src="https://www.wheelsanddeals.ca//vendor/wheelspackage/hug-in-progress.jpg"
                                         class="img-fluid" alt="image">
                                </div>
                            </div>
                        {{end}}

                        {{if ne $item.Panorama.Panorama ""}}
                            <div class="row">
                                <div class="col text-center mb-4">
                                    <div id="panorama"></div>
                                </div>
                            </div>
                        {{end}}

                        <div class="row">
                            <div class="col-md-12">
                                {{safeHTML $item.Description}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h3>Options</h3>
                            </div>
                        </div>
                        <div class="row">
                            {{range $item.VehicleOptions}}
                                <div class="col-md-3">&bull; {{.OptionName}}</div>
                            {{end}}
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-3 col-xs-12">
                                <div class="card card-body bg-light" style="width: 18rem;">
                                    <div class="card-body">
                                        {{if ne $item.HandPicked 1}}
                                            <strong><span class="text-danger">Certified Vehicle</span></strong><br>
                                        {{else}}
                                            <strong><span class="text-danger">MVI Select Plus Vehicle</span></strong>
                                            <br>
                                        {{end}}
                                        <strong>Stock #:</strong> {{$item.StockNo}}<br>
                                        <strong>Drivetrain:</strong> {{$item.DriveTrain}}<br>
                                        <strong>Body Style:</strong> {{$item.Body}}<br>
                                        <strong>Trim:</strong> {{$item.Trim}}<br>
                                        <strong>Kilometers:</strong> {{$item.Odometer}}<br>
                                        <strong>Interior Color:</strong> {{$item.InteriorColour}}<br>
                                        <strong>Exterior Color:</strong> {{$item.ExteriorColour}}<br>
                                        <strong>Engine:</strong> {{$item.Engine}}<br>
                                        <strong>Transmission:</strong> {{$item.Transmission}}<br>
                                        <strong>VIN:</strong> {{$item.Vin}}<br>
                                    </div>
                                </div>

                                <div class="pt-3 text-center">
                                    <a href="http://www.autofinance.cibc.com/#/pre-approval/redirect?dealerid=C05722"
                                       target="_blank">
                                        <img src="/client/static/cibc.png" alt="CIBC">
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12 text-center">

                                {{if eq $item.HandPicked 0  }}
                                    <strong>The Jim Gilbert’s Advantage:</strong>
                                    <div class="rotator-wrapper">
                                        <div data-hide="true" class="hidden">
                                            <span class="rotator text-danger" style="font-weight: bold;">Two Key Guarantee,Free Full Tank of Gas,Free Nitrogen Tire Program,Free CarFax History Report,Guaranteed MVI,Best in Class Serviced,Professionaly Detailed,Free Delivery,Singing Huggable Teddy Bear,Yearly Thank you gifts on your birthday</span>
                                        </div>
                                    </div>
                                {{end}}

                                <div class="mt-5"></div>


                                <img src="/client/static/logo.png" alt="logo" class="img img-fluid"
                                     style="max-width: 300px;">

                                <div class="text-center">

                                    <p class="text-center">
                                        <strong>DEALER INFORMATION:</strong><br>
                                        Jim Gilbert's Wheels &amp; Deals<br>
                                        402 St Marys St<br>
                                        Fredericton, New Brunswick<br>
                                        E3A 8H5<br>
                                        Phone: (506) 459-6832
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-3 col-xs-12">
                                <div class="card card-body" style="width: 18rem;">
                                    <div class="card-body">
                                        <a class="btn btn-block btn-danger text-white"
                                           href="/get-pre-approved">
                                            <i style="color: white;" class="fa fa-dollar"></i> Fast Financing
                                        </a>

                                        <a class="btn btn-block btn-danger text-white"
                                           href="#!"
                                           onclick="openTD('{{$item.ID}}', '{{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}', '{{$item.StockNo}}')">
                                            <i style="color: white;" class="fa fa-car"></i> Request a test drive
                                        </a>

                                        <a class="btn btn-block btn-danger text-white"
                                           href="#!"
                                           onclick="openSF('{{$item.ID}}', '{{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}', '{{$item.StockNo}}')">
                                            <i style="color: white;" class="fa fa-envelope"></i> Email a Friend
                                        </a>

                                        <a class="btn btn-block btn-danger text-white"
                                           href="#!"
                                           onclick="openQCI('{{$item.ID}}', '{{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}', '{{$item.StockNo}}')">
                                            Quick Click Inquiry
                                        </a>

                                        <a class="btn btn-block btn-danger text-white"
                                           href="#!"
                                           onclick="openQQ('{{$item.ID}}', '{{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}', '{{$item.StockNo}}')">
                                            Quick Quote
                                        </a>

                                        <a class="btn btn-block btn-danger text-white"
                                           href="#!"
                                           onclick="printVehicle({{$item.ID}})">
                                            <i style="color: white;" class="fa fa-print"></i> Print Vehicle
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            {{$sales := index .RowSets "sales"}}
                            {{range $sales}}
                                <div class="col-md-2 text-center">
                                    <a href="https://www.wheelsanddeals.ca/sales/{{.Slug}}" target="_blank">
                                        <img src="/static/site-content/salesstaff/{{.Image}}" alt="image"
                                             class="img img-fluid">
                                    </a>
                                </div>
                            {{end}}
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>&nbsp;</p>
                                <h3>40 Years, over 20,000 Customers, more than a 1,000,000 Hugs</h3>

                                <p>
                                    <strong>You do save with a low kilometre, fully warrantied slightly used SUV, Car,
                                        Truck or Minivan... from us...</strong>
                                    Our on-site licensed professionals fully service and detail every vehicle we sell.
                                    All our certified
                                    vehicles have a new updated MVI 200% above industry standards. Plus… you get a Full
                                    tank of gas,
                                    Paint sealant shine, Nitrogen filled tires, Walkaway credit & job loss protection,
                                    balance of
                                    factory warranty and our huggable guarantee… a value to you of well over $2400.00.
                                </p>

                                <hr>
                                <p>
                                    * All advertised prices exclude government fees and taxes, any finance charges and
                                    any dealer
                                    document preparation charges. While every reasonable effort is made to ensure the
                                    accuracy of this
                                    data, we are not responsible for any errors or omissions contained on these pages.
                                    Please verify any
                                    information in question with a dealership sales representative.
                                </p>
                                <hr>
                                <p>
                                    ** We accept all trade ins and recommend your purchase of credit protection and
                                    extended vehicle
                                    protection, however "as always the choice is yours". Jim Gilbert's Wheels and Deals
                                    is Canada's Best
                                    six acre Car Shopping Experience and we would love to share our Huggable knowledge
                                    with you. You
                                    will receive many extras, the warm Huggable feeling and the good attention that has
                                    made Canada's
                                    Huggable Car Dealer Famous. Shop us First, Feel the Difference... then compare.

                                </p>
                            </div>
                        </div>

                    </div> <!-- container -->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{{end}}

{{define "buttons"}}

{{end}}


{{define "js"}}
    {{$item := index .RowSets "item"}}
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-panorama/0.1.7/videojs-panorama.v5.min.js"
            integrity="sha256-iSYVHGz6ltpY11CWExXmCj478bxrOyoTVQAVNULib7Y=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r76/three.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            pannellum.viewer('panorama', {
                "type": "equirectangular",
                "panorama": "{{.ServerUrl}}/static/site-content/panoramas/{{$item.Panorama.Panorama}}",
                "autoLoad": true
            });

            {{if eq $item.Video.Is360  1}}
            var player = videojs('#vehicle-video');
            player.panorama({
                clickAndDrag: true,
                callback: function () {
                    player.play();
                }
            });
            {{end}}
        })

        async function printVehicle(x) {
            attention.confirm({
                html: "Are you sure download the vehicle information as a PDF?",
                icon: 'question',
                callback: function (result) {
                    if (result !== false) {
                        window.location.href = "/admin/inventory/print-window-sticker/" + x;
                    }
                }
            });
        }
    </script>

    {{template "inventory-js" .}}

{{end}}