{{define "top-of-menu"}}
    {{if hasRole "inventory" .Auth.ID}}
        <li id="inventory" {{if eq .CurrentSegment "inventory"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-car fa-fw"></i> <span class="nav-label">Vehicles</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/inventory/vehicles/all-vehicles">All Vehicles</a></li>
                <li><a href="/admin/inventory/vehicles/all-vehicles-for-sale">For Sale <span class="badge">{{index .Data "for_sale"}}</span></a></li>
                <li><a href="/admin/inventory/vehicles/all-vehicles-sold-this-month">Sold (this month) <span class="badge">{{index .Data "sold_this_month"}}</span></a></li>
                <li><a href="/admin/inventory/vehicles/all-vehicles-sold">Sold</a></li>
                <li><a href="/admin/inventory/vehicles/all-vehicles-pending">Pending <span class="badge">{{index .Data "pending"}}</span></a></li>
                <li><a href="/admin/inventory/vehicles/all-vehicles-trade-ins">Trade-ins <span class="badge">{{index .Data "trade_ins"}}</span></a></li>
                <li><a href="/admin/inventory/options/all">Options</a></li>
                <li><a href="/admin/inventory/options/0">Add Option</a></li>
                <li><a href="/admin/inventory/refresh-from-pbs">Force PBS Update</a></li>
            </ul>
        </li>
    {{end}}

    {{if hasRole "inventory" .Auth.ID}}
        <li id="powersports-inventory" {{if eq .CurrentSegment "powersports-inventory"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-motorcycle fa-fw"></i> <span class="nav-label">PowerSports</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/powersports-inventory/powersports/all-powersports-for-sale">For Sale  <span class="badge">{{index .Data "for_sale_powersports"}}</span></a></li>
                <li><a href="/admin/powersports-inventory/powersports/all-powersports-sold-this-month">Sold (this month) <span class="badge">{{index .Data "sold_this_month_powersports"}}</span></a></li>
                <li><a href="/admin/powersports-inventory/powersports/all-powersports-sold">Sold</a></li>
            </ul>
        </li>
    {{end}}

    {{if hasRole "credit" .Auth.ID}}
        <li id="credit" {{if eq .CurrentSegment "credit"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-dollar fa-fw"></i> <span class="nav-label">Credit Applications</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/credit/all">All applications</a></li>
                <li><a href="/admin/credit/all-quick-quotes">All quick quotes</a></li>
            </ul>
        </li>
    {{end}}

    {{if hasRole "test_drive" .Auth.ID}}
        <li id="test-drives" {{if eq .CurrentSegment "test-drives"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-calendar fa-fw"></i> <span class="nav-label">Test Drives</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/test-drives/all">All requests</a></li>
            </ul>
        </li>
    {{end}}

{{end}}