{{template "admin-base" .}}

{{define "title"}}Credit Application - GoBlender Admin{{end}}

{{define "admin-title"}}Credit Application{{end}}
{{define "content-title"}}Credit Application{{end}}

{{define "content"}}
    {{$app := index .RowSets "app"}}

    <strong>First Name:</strong> {{$app.FirstName}}<br>
    <strong>Last Name:</strong> {{$app.LastName}}<br>
    <strong>Email:</strong> <a href="mailto:{{$app.Email}}">{{$app.Email}}</a><br>
    <strong>Phone:</strong> {{$app.Phone}}<br>
    <strong>Address:</strong> {{$app.Address}}, {{$app.City}}, {{$app.Province}} {{$app.Zip}}<br>
    <strong>Interested In:</strong> {{$app.Vehicle}}<br>
    <strong>Received:</strong> {{humanDateTime $app.CreatedAt}}<br>
    <hr>
    <a class="btn btn-primary" href="/admin/credit/all">Back</a>

{{end}}

{{define "js"}}

{{end}}