{{template "admin-base" .}}

{{define "title"}}Quick Quote Request - GoBlender Admin{{end}}

{{define "admin-title"}}Quick Quote Request{{end}}
{{define "content-title"}}Quick Quote Request{{end}}

{{define "content"}}
    {{$app := index .RowSets "app"}}

    <strong>Requested By:</strong> {{$app.UsersName}}<br>
    <strong>Email:</strong> <a href="mailto:{{$app.Email}}">{{$app.Email}}</a><br>
    <strong>Phone:</strong> {{$app.Phone}}<br>
    <strong>Interested In:</strong> {{$app.Vehicle.Year}} {{$app.Vehicle.Make.Make}} {{$app.Vehicle.Model.Model}} {{$app.Vehicle.Trim}}, {{$app.Vehicle.StockNo}}<br>
    <strong>Received:</strong> {{humanDateTime $app.CreatedAt}}<br>
    <hr>
    <a class="btn btn-primary" href="/admin/credit/all-quick-quotes">Back</a>

{{end}}

{{define "js"}}

{{end}}