{{template "admin-base" .}}

{{define "title"}}Option - GoBlender Admin{{end}}

{{define "admin-title"}}Option{{end}}
{{define "content-title"}}Option{{end}}

{{define "content"}}

    <hr>
    <a class="btn btn-primary" href="/admin/inventory/options/all">Back</a>

{{end}}

{{define "js"}}

{{end}}