{{template "admin-base" .}}

{{define "title"}}Testimonial - GoBlender Admin{{end}}

{{define "admin-title"}}Testimonial{{end}}
{{define "content-title"}}Testimonial{{end}}

{{define "content"}}
    {{$o := index .RowSets "testimonial"}}
    <form method="post" action="/admin/testimonials/{{$o.ID}}" novalidate class="needs-validation" id="test-form">

        <div class="row">
            <div class="col-md-6">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="form-group">
                    <label>Label:</label>
                    {{with .Form.Errors.Get "label"}}
                        <label class='text-danger'>{{.}}</label>
                    {{end}}
                    <input class="form-control" id="label" autocomplete="off" type='text'
                           name='label' required
                           value='{{$o.Label}}'>
                    <div class="invalid-feedback">
                        Please enter a value
                    </div>
                </div>

                <div class="form-group">
                    <label>URL:</label>
                    {{with .Form.Errors.Get "url"}}
                        <label class='text-danger'>{{.}}</label>
                    {{end}}
                    <input class="form-control" id="url" autocomplete="off" type='text'
                           name='url' required
                           value='{{$o.Url}}'>
                    <div class="invalid-feedback">
                        Please enter a value
                    </div>
                </div>

                <div class="custom-control custom-switch">
                    <input type="checkbox"
                            {{if eq $o.Active 1}}
                                checked
                            {{end}}
                           class="custom-control-input" value="1" id="active"
                           name="active">
                    <label class="custom-control-label"
                           for="active">Active</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <input type="submit" class="btn btn-primary" value="Save">
                <a class="btn btn-warning" href="/admin/testimonials/all">Cancel</a>
            </div>
        </div>

    </form>
{{end}}

{{define "js"}}
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{{end}}